:root{
  --body-background-color: #f8f8f8;
  --main-color: #333;
  --secondary-color: #888;
  --button-hover-color: #3a3a3a;
}
body {
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: "Lato", sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header-image {
  width: 100%;
}
.more-info {
  font-family: fantasy, cursive;
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.task {
  display: inline-block;
  flex-grow: 1;
}
button {
  background: none;
  border: 0px;
  color: var(--button-color);
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
button:hover {
  color: var(--button-hover-color);
}
h3 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid var(--main-color);
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.input-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: var(--secondary-color);
}
.input-text:focus {
  color: var(--main-color);
}
/* New Task */
.block-new-task {
  display: flex;
  margin: 20px 0 0;
}
/* Task list */
.list {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list > * {
  vertical-align: middle;
}
.list > .checkbox {
  margin: 0 10px;
}
.list > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.list > .input-text {
    width: 226px;
}
.button-delete img {
  height: 2em;
  transform: rotate(45deg);
  transition: transform 200ms ease-in;
}
.button-delete img:hover {
  transform: rotate(0);
}
/* Completed */
.complete-tasks label {
  text-decoration: line-through;
  color: var(--secondary-color);
}
/* Edit Task */
.list .input-text {
  display: none;
}
.task-edit-mode .input-text {
  display: inline-block;
  width: 224px;
}
.task-edit-mode label {
  display: none;
}